.language-switcher {
  position: relative;
  display: inline-block;
}

.language-icon {
  cursor: pointer;
  font-size: 20px;
  color: #ffff;
  margin-right: 25px;
  margin-top: 30px;
}

.language-dropdown {
  position: absolute;
  top: 77px;
  right: 7px;
  background-color: #001529;
  width: 75px; 
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1); 
  border-radius: 8px; 
  transition: 0.3s ease-in-out;
  color: aliceblue;
  z-index: 1001;
}

.language-dropdown ul {
  padding: 0;
  margin: 0;
}

.language-dropdown ul li {
  list-style: none;
  padding: 8px 10px;
  display: flex;
  align-items: center; 
  cursor: pointer;
  transition: background 0.3s;
  font-size: 14px;
  border-radius: 8px; 
}

.language-dropdown ul li:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.language-dropdown::before {
  content: '';
  position: absolute;
  top: -5px;
  right: 18px;
  width: 20px; 
  height: 20px; 
  background: #001529;
  transform: rotate(45deg);
}